@font-face {
   font-family: 'AktivGroteskCorp-Regular';
   font-display: swap;
   src: url('file:///C:/Users/proro/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-13_192829/fonts/AktivGroteskCorp-Regular/font.ttf');
}
