@font-face {
   font-family: 'pt-root-ui_medium';
   font-display: swap;
   src: url('file:///C:/Users/proro/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-13_192829/fonts/pt-root-ui_medium/font.ttf');
}
